body {
    letter-spacing: 4px;
    background: #b7111b;
    color: #fafbf4;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3 {
    font-size: 80px;
    text-shadow: 5px -5px 5px black;
}