.card {
    display: block;
    text-align: right;
    background-color: rgb(168, 255, 255);
    width: 500px;
    height: 200px;
    margin-left: 500px;
    
}

.name {
    padding-top: 40px;
    text-align: center;
    border: 1px solid block;
}

.role {
    font-size: 12px;
    text-align: center;
}

.btn {
    text-align: center;
    background: rgb(182, 176, 176);
    padding: 10px;
    border: none;
    border-radius: 15px;
    margin-right: 12px;
    margin-bottom: 10px;
}