body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    border: 1px solid #5f9341;
    width: 100%;
    padding: 10px 10px;
    box-sizing: border-box;

}

button {
    padding: 10px 20px;
    font-weight: bold;
    margin-top: 5px;
    background-color: #5f9341;
    color: white;
    border: none;
    cursor: pointer;
}

#del-btn {
    padding: 10px 20px;
    font-weight: bold;
    margin-top: 5px;
    background-color:  white;
    color: #5f9341;
    border: 1px solid;
    border-color: #5f9341;
    cursor: pointer;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

li a {
    color: #5f9341;
}