body {
    background-color: rgb(15, 10, 22);
    color: white;
    display: flex;
    justify-content: center;
}

#rp {
    font-size: 30px;
    color: rgb(19, 109, 19);
}

button {
    color: white;
    background-color: rgb(19, 109, 19);
    width: 170px;
    padding: 10px 3px;
    margin-bottom: 10px;
}

#pass-one {
    color: rgb(0, 0, 0);
    background-color: rgb(76, 102, 102);
    font-size: 10px;
    padding: 10px 10px;    
}

#pass-two {
    color: rgb(0, 0, 0);
    background-color: rgb(76, 102, 102);
    font-size: 10px;
    padding: 10px 10px;
}